<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container " v-show="!winner">
      <h2>Monster Health: {{monsterHealth}}</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="sendMonsterHealthBar"></div>
      </div>
    </section>
    <section id="player" class="container" v-show="!winner">
      <h2>Your Health: {{playerHealth}}</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="sendPlayerHealthBar"></div>
      </div>
    </section>
    <section class="container" v-show="winner">
      <h2>游戏结束！</h2>
      <h2 v-if="winner!='平局'">胜利者为：{{winner}}</h2>
      <h2 v-else>平局！</h2>
      <button @click="restart">重新开始</button>
    </section>
    <section id="controls" v-show="!winner">
      <button @click="playerAttack">ATTACK</button>
      <button :disabled="round%3 !== 0" @click="specialAttack">SPECIAL ATTACK</button>
      <button @click="playerHeal">HEAL</button>
      <button>SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="log in logs">
          <span :class="[{'log--player':log.who==='player'}, {'log--monster':log.who==='monster'}]">{{log.who}}</span>

          <span v-if="log.type==='治愈'">
            使用了治愈，回复了 <span class="log--heal">{{log.amount}}</span> 点
          </span>
          <span v-else>
            使用了{{log.type}}造成了 <span class="log--damage">{{log.amount}}</span> 点伤害
          </span>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>